.details-img {
  padding: 20px;
  max-width: 400px;
}

.movie-container {
  display: flex;
}

.movie-description {
  padding-top: 20px;
  padding-right: 20px;
}

.movie-title {
  margin-bottom: 10px;
}

.goback-btn {
  text-decoration: none;
  padding: 0 20px 0 20px;
}

.cast-link {
  text-decoration: none;
  margin-right: 10px;
}

.cast-container {
  padding: 20px;
}
